<div class="jumbotron jumbotron-fluid" >
  <div class="container">
    <h3 class="header-text">My Github Favorite</h3>
  </div>
</div>
<div class="row ml-5">
  <div class="col-5 ml-5">
    <%= form_tag(repos_path, method: 'get' ) do %>
    <div class="row">
      <div class="col-8">
        <%= text_field_tag(:query, params[:query], class: "form-control") %>
      </div>
      <%= submit_tag("Search", class: "btn btn-primary") %>
    </div>
    <% end %>

    <% if @repos.present? %>
      <table class="table table-borderless mt-5">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Language</th>
            <th scope="col">Latest Tag</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @repos.each do  |re| %>
            <tr>
              <td><%= re[0] %></td>
              <td><%= re[1] %></td>
              <td><%= re[2] %></td>
              <td>
                <%=
                  link_to "Add",
                  favorites_path(
                    name: re[0],
                    language: re[1],
                    latest_tag: re[2]
                  ),
                  remote: true,
                  method: :post
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="col-6">
    <div id="favorite-repos">
      <%= render "favorites/favorite", favorites: @favorites %>
    </div>
  </div>
</div>
